#teste{
    height: 150px;
    width: 150px;
    border: 50px solid red;
    margin: 50px auto 50px auto;
    padding: 50px 50px 50px 50px;
    background-color: yellow;
    overflow: scroll;
    color: blue;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: darkSalmon;
    color: white;
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}